/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: https://www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto/9; /* ie8 */
}

.slider-response{
	display: none;	
}
/*------------------------*/

@media only screen and (max-width: 960px) {
	.slider_bg {width:auto;height:auto;background: #FAF3ED;padding: 7px;}
	.slider{display: none;}
	.slider-response{display: block;}
	header{height:161px;}
	#menu{margin-top: 10px;}
}

@media only screen and (max-width: 767px){
	#top_nav{margin-top: 20px;}
	#menu{margin-top: 0px;}
	header{height:270px;}
	.mag-1, .mag-2{border: none; padding: 0;}
}
@media only screen and (max-width: 619px) {
	
}
@media only screen and (max-width: 320px) {
	header{height:320px;}
}
@media only screen and (max-width: 240px) {
	header{height:380px;}
}